@import "parameters";

.header {
  margin-top: 20px;
  &__contacts-box {
    margin-top: 20px;
    margin-left: 10px;
  }
}

.logo-box {
  display: block;
  width: 230px;
  height: 73px;
}

.search-box {
  width: 100%;
  max-width: 360px;
}

.search-form {
  margin: auto;
  display: block;
  width: 100%;
  &__label {
    position: relative;
    display: block;
    width: 100%;
  }
  &__input {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    line-height: 20px;
    color: rgba(37, 55, 70, 0.4);
    border: none;
    outline: none;
    background: #F8F8FF;
    -webkit-appearance: none;
    vertical-align: middle;
    box-sizing: border-box;
  }
  &__btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 40px;
    height: 100%;
    border: none;
    border-radius: 0 5px 5px 0;
    background: $basic-color-pink;
    cursor: pointer;
    transition: 0.3s ease;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background:url("../img/icons/icon_search.svg") no-repeat center center;
      content: "";
      transition: 0.3s ease;
    }
    &:hover::before {
      transform: scale(1.1);
      transition: 0.3s ease;
    }
  }
}

.contacts-box {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  font-size: 15px;
  line-height: 20px;
  &__content {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    a {
      cursor: pointer;
    }
  }
  &__text {
    font-weight: bold;
    &--big {
      font-size: 20px;
    }
  }
  &__link {
    width: fit-content;
    display: inline-block;
    color: $basic-color-pink;
    line-height: 1;
    border-bottom: 1px solid $basic-color-pink;
    cursor: pointer;
    transition: 0.3s ease;
    &:hover {
      border-bottom: 1px solid transparent;
      transition: 0.3s ease;
    }
  }
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 30px;
    height: 100%;
    content: '';
  }
  &.calling::before {
    background: url("../img/icons/icon_phone.svg") no-repeat center center;
  }
  &.schedule::before {
    background: url("../img/icons/icon_time.svg") no-repeat center center;
  }
}

.menu-btn {
  position: absolute;
  top: 30px;
  right: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 4;
  input {
    display: flex;
    width: 36px;
    height: 33px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    &:checked ~ .line--first {
      background-color: #fff;
      transform: rotate(45deg) translate(8px);
    }
    &:checked ~ .line--second {
      background-color: #fff;
      transform: rotate(495deg) translate(4px);
    }
    &:checked ~ .line--third {
      background-color: #fff;
      transform: rotate(45deg);
      opacity: 0;
    }
  }
  span {
    width: 36px;
    height: 5px;
    margin-bottom: 6px;
    background: $basic-color-pink;
    transition: all .5s cubic-bezier(.08, .81, .87, .71);
  }
  .line--first {
    transform-origin: 4px 0;
  }

  .line--third {
    transform-origin: bottom right;
  }
}

.navigation-box {
  position: absolute;
  top: 0;
  width: 100%;
  text-transform: uppercase;
  color: #fff;
  background: $basic-color-pink;
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.6s, opacity 0.6s linear;
  .main-menu {
    margin-left: 10px;
    li {
      margin: 19px 0;
    }
  }
}
