@import "parameters.scss";

/*============== for landscape 480px ===========================*/
@media screen and (min-width: 480px) {

  /*--------------------------------------------------------------
  # Typography 480px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header 480px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content 480px
  --------------------------------------------------------------*/

  .services {
    &__item {
      width: calc(100% / 2 - 10px);
    }
  }



  /*--------------------------------------------------------------
  # about-page 480px
  --------------------------------------------------------------*/
  .advantages {
    &__item {
      &.advantages__item--slider {
        max-width: 430px;
      }
    }
  }


  /*--------------------------------------------------------------
  # Footer 480px
  --------------------------------------------------------------*/

}

/*============== for landscape 576px ===========================*/
@media screen and (min-width: 576px) {

  /*--------------------------------------------------------------
  # Typography 576px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header 576px
  --------------------------------------------------------------*/
  .header {
    .schedule-box,
    .calling-box {
      margin: auto;
    }
  }
  /*--------------------------------------------------------------
  # Content 576px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer 576px
  --------------------------------------------------------------*/

  .footer {
    &__list {
      min-width: 491px;
      li {
        width: auto;
      }
    }
    &__item {
      margin-right: 20px;
    }
  }
}

/*===================================640px====================================*/

@media screen and (min-width: 640px) {
  /*--------------------------------------------------------------
  # Typography 640px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header 640px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content 640px
  --------------------------------------------------------------*/

  .services {
    &__item {
      width: calc(100% / 3 - 10px);
    }
  }

  .payment {
    &__item {
      width: calc(100% / 2 - 10px);
    }
  }

  /*--------------------------------------------------------------
  # Big calculator 640px
  --------------------------------------------------------------*/

  .response {
    &__wrap {
      &::before {
        border-bottom-right-radius: 60px;
        border-top-right-radius: 60px;
      }
    }
  }

  .request {
    &__info {
      display: flex;
      justify-content: space-between;
    }
    &__label {
      width: 250px;
      &.request__label--small {
        width: 160px;
      }
    }
  }

  /*--------------------------------------------------------------
  # Footer 640px
  --------------------------------------------------------------*/

}

@media screen and (min-width: 720px) {
  /*--------------------------------------------------------------
  # Typography 720px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header 720px
  --------------------------------------------------------------*/
  .menu-btn {
    display: none;
  }
  .navigation-box {
    position: relative;
    height: 70px;
    margin-top: 32px;
    font-size: 15px;
    line-height: 20px;
    color: $basic-color-black;
    border-top: 4px solid $basic-color-gray;
    border-bottom: 4px solid $basic-color-gray;
    background: none;
    visibility: visible;
    opacity: 1;
    .main-menu {
      max-width: 830px;
      margin: auto;
      display: flex;
      justify-content: space-around;
      li {
        margin: 23px 0 27px;
        padding-bottom: 2px;
        border-bottom: 2px solid transparent;
        cursor: pointer;
        transition: 0.3s ease;
        &:hover {
          border-bottom: 2px solid $basic-color-pink;
          transition: 0.3s ease;
        }
      }
    }
  }

  /*--------------------------------------------------------------
  # Content 720px
  --------------------------------------------------------------*/
  .form {
    &__item {
      width: calc(100% / 2 - 20px);
    }
  }

  .btn-reverse {
    &.btn-reverse--black {
      display: block;
      top: 40px;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  .tariffs {
    &__label {
      width: 200px;
    }
    &__input {
      width: 200px;
    }
  }
  .btn-reverse--black {
    margin-bottom: 20px;
    transform: rotate(0deg);
  }

  .shipping {
    position: relative;
    display: block;
    background: $basic-color-gray;
    &__inner {
      margin-top: 48px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    &__text {
      display: block;
      padding: 20px 50px;
      font-size: 15px;
      line-height: 20px;
      font-weight: bold;
      text-transform: capitalize;
      color: $basic-color-black;
    }

    &__item {
      position: relative;
      margin-bottom: 60px;
      margin-left: 60px;
      box-sizing: border-box;
      border: 2px solid $basic-color-pink;
      border-radius: 5px;
      pointer-events: none;

      &:not(:last-child)::after {
        position: absolute;
        top: 22px;
        right: -70px;
        width: 17px;
        height: 10px;
        margin: 0 31px 60px;
        display: flex;
        align-self: center;
        background: url("../img/icons/icon_arrow-right.svg") center center no-repeat;
        content: "";
      }

      @for $i from 1 to 10 {
        &:nth-child(#{$i})::before {
          position: absolute;
          top: -30px;
          left: -30px;
          width: 60px;
          height: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bold;
          font-size: 20px;
          line-height: 20px;
          color: rgba(37, 55, 70, 0.5);
          border-radius: 50%;
          background: #FFFFFF;
          box-shadow: 2px 2px 10px rgba(37, 55, 70, 0.2);
          content: "0#{$i}";
        }
      }
    }

  }

  /*--------------------------------------------------------------
# about-page 720px
--------------------------------------------------------------*/
  .description {
    &__inner {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .advantages {
    &__item {
      &.advantages__item--slider {
        max-width: 650px;
      }
    }
  }

  /*--------------------------------------------------------------
  # Footer 720px
  --------------------------------------------------------------*/

}

/*============== for Tablet 768px ===========================*/
@media screen and (min-width: 768px) {

  /*--------------------------------------------------------------
  # Typography 768px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header 768px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content 768px
  --------------------------------------------------------------*/
  .tariffs {
    &__label {
      width: 215px;
    }
    &__input {
      width: 215px;
    }
  }

  /*--------------------------------------------------------------
# About-page 768px
--------------------------------------------------------------*/
  .about-us {
    &__item {
      width: calc(50% - 60px);
    }
  }

  /*--------------------------------------------------------------
  # Footer 768px
  --------------------------------------------------------------*/
}

/*============== for Tablet landscape 1024px ===========================*/
@media screen and (min-width: 920px) {

  /*--------------------------------------------------------------
  # Typography 920px
  --------------------------------------------------------------*/

  h4 {
    margin-top: 60px;
    font-size: 30px;
    line-height: 20px;
  }
  /*--------------------------------------------------------------
  # Header 920px
  --------------------------------------------------------------*/
  .navigation-box {
    .main-menu {
      justify-content: space-between;
    }
  }
  /*--------------------------------------------------------------
  # Content 920px
  --------------------------------------------------------------*/

  .main-slider__item {
    position: relative;
    height: 720px;
  }
  .slide {
    img {
      height: 720px;
    }
    figcaption {
      left: 0;
      transform: translate(2%, -50%);
      max-width: 380px;
      text-align: justify;
      .slide__title {
        font-size: 30px;
        line-height: 34px;
        text-align: left;
      }
    }
  }

  .wrapper {
    top: 112px;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 1280px;
    position: absolute;
  }

  .calculator {
    position: absolute;
    top: 0;
    /*left: calc(100vw/2 - 60px);*/
    right: 14%;
    max-width: 520px;
    border-radius: 0 0 20px 20px;
  }

  .form {
    &__label {
      &.form__label--smaller {
        width: 75px;
      }
    }
    &__input {
      &.form__input--indent {
        padding: 5px 20px;
      }
      &.form__input--square {
        width: 21px;
        padding: 2px 0 2px 6px;
        margin-left: 14px;
        background: #FFF;
      }
    }
  }

  .btn-arrow {
    &.btn-arrow--right {
      left: 32px;
      border-left-color: $basic-color-black;;
      border-right: 0;
    }
    &.btn-arrow--left {
      left: 0;
      border-right-color: $basic-color-black;;
      border-left: 0;
    }
  }

  .date-box__item {
    margin-top: 0;
  }

  .services {
    &__item {
      width: calc(100% / 3 - 30px);
    }
  }

  .documents {
    &__item {
      margin: 0;
      width: 22%;
      &:nth-child(2) {
        width: 50%;
        padding-left: 30px;
        border-right: 3px solid $basic-color-gray;
        border-left: 3px solid $basic-color-gray;
      }
    }
  }

  .contacts {
    &__item {
      width: calc(100% / 2 - 30px);
      &:last-child {
        width: 100%;
      }
    }
    &__form {
      align-items: center;
    }
  }
  .form-call {
    margin-bottom: 20px;
    &__label {
      width: calc(100% - 300px);
    }
    &__input {
      width: calc(100% - 300px);
    }
  }

  /*--------------------------------------------------------------
# big calculator 920px
--------------------------------------------------------------*/
  .cargo__description {
    width: 300px;
  }

  .response {
    &__item {
      width: calc(50% - 20px);
    }
  }

  /*--------------------------------------------------------------
  # Footer 920px
  --------------------------------------------------------------*/
}

/*============== for Tablet landscape 1024px ===========================*/
@media screen and (min-width: 1152px) {

  /*--------------------------------------------------------------
  # Typography 1152px
  --------------------------------------------------------------*/
  .container {
    &.container--header:nth-child(n) {
      margin: auto;
      &:not(:first-child) {
        padding-top: 0;
      }
    }
  }
  /*--------------------------------------------------------------
  # Header 1152px
  --------------------------------------------------------------*/
  .header {
    margin-top: 40px;
  }

  /*--------------------------------------------------------------
  # Content 1152px
  --------------------------------------------------------------*/

  .calculator {
    right: 6%;
  }

  .form {
    &__item {
      width: calc(100% / 2 - 40px);
    }
  }

  .services {
    &__item {
      width: calc(100% / 4 - 10px);
    }
  }

  /*--------------------------------------------------------------
# big calculator 1152px
--------------------------------------------------------------*/
  .cargo__description {
    width: 440px;
  }

  .checkbox:hover .checkbox__prompt {
    position: absolute;
    bottom: 40px;
    min-width: 697px;
    height: 159px;
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 2px 2px 10px rgba(37, 55, 70, 0.2);
    z-index: 3;
    &::after {
      content: '';
      position: absolute;
      left: 60px;
      bottom: -40px;
      border: 20px solid transparent;
      border-top: 20px solid #fff;
    }
  }

  .request {
    &__wrap {
      display: flex;
      justify-content: space-between;
      .request__item {
        width: calc(50% - 30px);
      }
    }
  }
  .response {
    &__wrap {
      margin-right: 23px;
    }
  }

  /*--------------------------------------------------------------
  # Footer 1152px
  --------------------------------------------------------------*/
}

/*============== for PC(notebook) 1280px ===========================*/
@media screen and (min-width: 1280px) {

  /*--------------------------------------------------------------
  # Typography 1280px
  --------------------------------------------------------------*/

  .flex-wrap {
    justify-content: space-between;
  }

  /*--------------------------------------------------------------
  # Header 1280px
  --------------------------------------------------------------*/
  .header {
    .schedule-box,
    .calling-box {
      margin-left: 0;
    }
  }

  .logo-box {
    width: 300px;
    height: 97px;
    display: block;
  }

  .search-form input[type="search"] {
    width: 283px;
  }

  /*--------------------------------------------------------------
  # Content 1280px
  --------------------------------------------------------------*/

  .slide {
    figcaption {
      min-width: 1280px;
      width: 1280px;
      margin: auto;
      top: 50%;
      left: 52%;
      transform: translate(-50%, -50%);

      .slide__content {
        max-width: 700px;
      }
      .slide__title {
        font-size: 38px;
        line-height: 47px;
      }
      .slide__text {
        font-size: 20px;
        line-height: 22px;
      }
    }
  }

  .calculator {
    right: 0;
  }

  .services,
  .tariffs,
  .news,
  .contacts {
    .container {
      margin-top: 33px;
    }
  }

  .services {
    &__item {
      margin: 0;
      width: 240px;
    }
  }

  .news__text {
    height: 75px;
  }

  .payment {
    &__item {
      width: calc(100% / 4 - 10px);
    }
  }

  .contacts {
    &__item {
      width: 376px;
      &:last-child {
        width: 400px;
        &::before {
          width: 200%;
        }
      }
    }
  }

  .form-call {
    &__label {
      width: 270px;
    }
    &__input {
      width: 270px;
    }
  }

  /*--------------------------------------------------------------
  # big calculator 1280px
  --------------------------------------------------------------*/

  .controls-cargo {
    &.controls-cargo--page {
      top: auto;
      bottom: 10px;
    }
  }

  .controls-cargo__description {
    display: block;
  }

  .cargo__description {
    width: 360px;
    margin-right: 160px;
  }

  /*--------------------------------------------------------------
  # Footer 1280px
  --------------------------------------------------------------*/

}

/*============== for PC(desktop) 1440px ===========================*/
@media screen and (min-width: 1366px) {

  /*--------------------------------------------------------------
  # Typography 1366px
  --------------------------------------------------------------*/
  .container {
    width: 100%;
  }
  /*--------------------------------------------------------------
  # Header 1366px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content 1366px
  --------------------------------------------------------------*/
  .slide {
    figcaption {
      left: 50%;
    }
  }
  .form {
    &__item {
      width: calc(100% / 2 - 60px);
    }
  }
  .contacts {
    &__item:last-child {
      width: 460px;
    }
    &__form {
      justify-content: space-between;
    }
  }

  /*--------------------------------------------------------------
    # big calculator 1366px
    --------------------------------------------------------------*/

  .controls-cargo {
    &.controls-cargo--page {
      right: -180px;
    }
  }

  .cargo__description {
    width: 460px;
    margin-right: 0;
  }

  .response {
    &__wrap {
      &::before {
        left: -36.5%;
        width: 140%;
      }
    }
    &__schedule {
      margin-right: 20px;
    }
    &__logo {
      display: block;
    }
  }

  /*--------------------------------------------------------------
# About-page 1366px
--------------------------------------------------------------*/
  .description {
    &__item {
      width: auto;
      &:not(:last-child) {
        margin-right: 60px;
      }
    }
  }

  .about-us {
    &__inner {
      flex-wrap: nowrap;
    }
    &__item {
      width: auto;
    }
  }



  /*--------------------------------------------------------------
  # Footer 1366px
  --------------------------------------------------------------*/

  .footer__inner {
    padding-top: 50px;
    justify-content: space-between;
  }
}

/*============== for PC(desktop) 1440px ===========================*/
@media screen and (min-width: 1440px) {

  /*--------------------------------------------------------------
  # Typography 1440px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header 1440px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content 1440px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer 1440px
  --------------------------------------------------------------*/

}

/*============== for PC( HD ) 1600px ===========================*/
@media screen and (min-width: 1600px) {

  /*--------------------------------------------------------------
  # Typography 1600px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header 1600px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content 1600px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer 1600px
  --------------------------------------------------------------*/

}

/*============== for PC( FullHD ) 1920px ===========================*/
@media screen and (min-width: 1920px) {

  /*--------------------------------------------------------------
  # Typography 1920px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header 1920px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content 1920px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer 1920px
  --------------------------------------------------------------*/

}
