@import "parameters.scss";

/*============== for landscape 480px ===========================*/
@media screen and (min-width: 480px) {

  /*--------------------------------------------------------------
  # Typography 480px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header 480px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content 480px
  --------------------------------------------------------------*/


  .services {
    &__item {
      width: calc(100%/2 - 10px);
    }
  }
  /*--------------------------------------------------------------
  # Footer 480px
  --------------------------------------------------------------*/

}

/*============== for landscape 576px ===========================*/
@media screen and (min-width: 576px) {

  /*--------------------------------------------------------------
  # Typography 576px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header 576px
  --------------------------------------------------------------*/
  .header {
    .schedule-box,
    .calling-box {
      margin-left: auto;
    }
  }
  /*--------------------------------------------------------------
  # Content 576px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer 576px
  --------------------------------------------------------------*/

}

/*===================================640px====================================*/

@media screen and (min-width: 640px) {
  /*--------------------------------------------------------------
  # Typography 640px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header 640px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content 640px
  --------------------------------------------------------------*/

  .services {
    &__item {
      width: calc(100%/3 - 10px);
    }
  }
  /*--------------------------------------------------------------
  # Footer 640px
  --------------------------------------------------------------*/

}

@media screen and (min-width: 720px) {
  /*--------------------------------------------------------------
  # Typography 720px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header 720px
  --------------------------------------------------------------*/
  .menu-btn {
    display: none;
  }
  .navigation-box {
    position: relative;
    height: 70px;
    margin-top: 32px;
    font-size: 15px;
    line-height: 20px;
    color: #253746;
    border-top: 4px solid #F7F7FF;
    border-bottom: 4px solid #F7F7FF;
    background: none;
    visibility: visible;
    opacity: 1;
    .main-menu {
      max-width: 830px;
      margin: auto;
      display: flex;
      justify-content: space-around;
      li {
        margin: 23px 0 27px;
        padding-bottom: 2px;
        border-bottom: 2px solid transparent;
        cursor: pointer;
        transition: 0.3s ease;
        &:hover {
          border-bottom: 2px solid $basic-color-pink;
          transition: 0.3s ease;
        }
      }
    }
  }
  /*--------------------------------------------------------------
  # Content 720px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer 720px
  --------------------------------------------------------------*/

}

/*============== for Tablet 768px ===========================*/
@media screen and (min-width: 768px) {

  /*--------------------------------------------------------------
  # Typography 768px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header 768px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content 768px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer 768px
  --------------------------------------------------------------*/
}

/*============== for Tablet landscape 1024px ===========================*/
@media screen and (min-width: 920px) {

  /*--------------------------------------------------------------
  # Typography 920px
  --------------------------------------------------------------*/
  h1 {
    margin: 10px 10px;
    font-size: 40px;
    line-height: 64px;
  }
  /*--------------------------------------------------------------
  # Header 920px
  --------------------------------------------------------------*/
  .navigation-box {
    .main-menu {
      justify-content: space-between;
    }
  }
  /*--------------------------------------------------------------
  # Content 920px
  --------------------------------------------------------------*/

  .main-slider__item {
    position: relative;
    height: 720px;
  }
  .slide {
    img {
      height: 720px;
    }
    figcaption {
      left: 0;
      transform: translate(2%, -50%);
      max-width: 380px;
      text-align: justify;
      .slide__title {
        font-size: 30px;
        line-height: 34px;
        text-align: left;
      }
    }
  }



  .wrapper {
    top: 84px;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 1280px;
    position: absolute;
  }

  .calculator {
    position: absolute;
    top: 0;
    /*left: calc(100vw/2 - 60px);*/
    right: 14%;
    max-width: 520px;
    border-radius: 0 0 20px 20px;
  }

  .form {
    &__label {
      width: 75px;
    }
    &__input.form__input--indent {
      padding: 5px 20px;
    }
  }

  .btn-arrow {
    &.btn-arrow--right {
      left: 32px;
      border-left-color: #253746;;
      border-right: 0;
    }
    &.btn-arrow--left {
      left: 0;
      border-right-color: #253746;;
      border-left: 0;
    }
  }

  .date-box__item {
    margin-top: 0;
  }

  .services {
    &__item {
      width: calc(100%/3 - 30px);
    }
  }

  /*--------------------------------------------------------------
  # Footer 920px
  --------------------------------------------------------------*/
}

/*============== for Tablet landscape 1024px ===========================*/
@media screen and (min-width: 1152px) {

  /*--------------------------------------------------------------
  # Typography 1152px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header 1152px
  --------------------------------------------------------------*/
  .header {
    margin-top: 40px;
    &__container div {
      margin: auto;
      &:not(:first-child) {
        padding-top: 0;
      }
    }
  }

  /*--------------------------------------------------------------
  # Content 1152px
  --------------------------------------------------------------*/

  .calculator {
    right: 6%;
  }

  .services {
    &__item {
      width: calc(100%/4 - 10px);
    }
  }
  /*--------------------------------------------------------------
  # Footer 1152px
  --------------------------------------------------------------*/
}

/*============== for PC(notebook) 1280px ===========================*/
@media screen and (min-width: 1280px) {

  /*--------------------------------------------------------------
  # Typography 1280px
  --------------------------------------------------------------*/
  .container {
    width: 100%;
  }
  .flex-wrap {
    justify-content: space-between;
  }

  /*--------------------------------------------------------------
  # Header 1280px
  --------------------------------------------------------------*/
  .header {
    &__container div {
      margin: 0;
    }
    .schedule-box,
    .calling-box {
      margin-left: 0;
    }
  }

  .logo-box {
    width: 300px;
    height: 97px;
    display: block;
  }

  .search-form input[type="search"] {
    width: 283px;
  }

  /*--------------------------------------------------------------
  # Content 1280px
  --------------------------------------------------------------*/
  .slide {
    figcaption {
      left: 200px;
      transform: translate(0%, -50%);
      max-width: 320px;
      text-align: left;
      .slide__title {
        font-size: 30px;
        line-height: 34px;
      }
    }
  }

  .calculator {
    right: 0;
  }

  .services {
    &__item {
      margin: 0;
      width: 240px;
    }
  }

  /*--------------------------------------------------------------
  # Footer 1280px
  --------------------------------------------------------------*/

}

/*============== for PC(desktop) 1440px ===========================*/
@media screen and (min-width: 1440px) {

  /*--------------------------------------------------------------
  # Typography 1440px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header 1440px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content 1440px
  --------------------------------------------------------------*/
  .slide {
    figcaption {
      max-width: 550px;
      .slide__title {
        font-size: 38px;
        line-height: 47px;
      }
      .slide__text {
        font-size: 20px;
        line-height: 22px;
      }
    }
  }
  /*--------------------------------------------------------------
  # Footer 1440px
  --------------------------------------------------------------*/

}

/*============== for PC( HD ) 1600px ===========================*/
@media screen and (min-width: 1600px) {

  /*--------------------------------------------------------------
  # Typography 1600px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header 1600px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content 1600px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer 1600px
  --------------------------------------------------------------*/

}

/*============== for PC( FullHD ) 1920px ===========================*/
@media screen and (min-width: 1920px) {

  /*--------------------------------------------------------------
  # Typography 1920px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header 1920px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content 1920px
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer 1920px
  --------------------------------------------------------------*/

}
