/*--------------------------------------------------------------
# Parameters * Переменные и миксины
--------------------------------------------------------------*/

$basic-color-pink: #EB0045;
$basic-color-black: #253746;
$basic-color-gray: #F7F7FF;

