@import "parameters.scss";

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Parameters
# Fonts
# Animation
  ## Elastic
  ## Elastic-Reverse
# Typography
  ## Forms
  ## Breadcrumbs
# Header
# Content
# Footer
# Popup-form

--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Fonts * Подлючение шрифтов
--------------------------------------------------------------*/

@font-face {
  font-family: 'Effra';
  src: url('../fonts/Effra.eot');
  src: local('../fonts/Effra'),
  url('../fonts/Effra.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Effra.woff2') format('woff2'),
  url('../fonts/Effra.woff') format('woff'),
  url('../fonts/Effra.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Effra-Bold';
  src: url('../fonts/Effra-Bold.eot');
  src: local('../fonts/Effra Bold'), local('Effra-Bold'),
  url('../fonts/Effra-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Effra-Bold.woff2') format('woff2'),
  url('../fonts/Effra-Bold.woff') format('woff'),
  url('../fonts/Effra-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Effra-Medium';
  src: url('../fonts/Effra-Medium.eot');
  src: local('../fonts/Effra Medium'), local('Effra-Medium'),
  url('../fonts/Effra-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Effra-Medium.woff2') format('woff2'),
  url('../fonts/Effra-Medium.woff') format('woff'),
  url('../fonts/Effra-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/*--------------------------------------------------------------
# Animation * анимация
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Typography * Базовые стили шаблона
--------------------------------------------------------------*/

html, body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  color: $basic-color-black;
  font-family: 'Effra-Medium', 'Arial', sans-serif;
  scroll-behavior: smooth;
}

main {
  position: relative;
  width: 100%;
  overflow: hidden;
  font-size: 15px;
  line-height: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  font-family: 'Effra-Bold', 'Arial', sans-serif;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
}

h1 {
  margin: 1em 10px;
  font-size: 2em;
  line-height: 1.5em;
  color: $basic-color-black;
}

h2 {
  margin-top: 0;
  padding-top: 1.5em;
  font-size: 1.5em;
  line-height: 1em;
  color: $basic-color-black;
}

h3 {
  position: relative;
  margin: 0 0 1em;
  padding: 44px 0 10px;
  font-size: 40px;
  line-height: 64px;
  color: $basic-color-black;

  &::before {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 74px;
    border: 2px solid $basic-color-pink;
    content: "";
  }
}

h4 {
  font-size: 20px;
  line-height: 20px;
  color: $basic-color-gray;
}

h5 {
  margin: 0 0 11px;
  font-size: 18px;
  line-height: 20px;
  text-align: left;
  color: #253746;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

figure {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 95%;
  max-width: 1280px;
  margin: 0 auto;
  &.container--header:nth-child(n) {
    margin: auto;
    &:not(:first-child) {
      padding-top: 10px;
    }
  }
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.flex-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title{
  &--pink {
    color: $basic-color-pink;
  }
  &--white {
    color: #fff;
  }
}
.btn {
  display: block;
  padding: 10px 24px;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #fff;
  box-sizing: border-box;
  border: 2px solid transparent;
  border-radius: 5px;
  outline: none;
  background: $basic-color-pink;
  cursor: pointer;
  transition: 0.3s ease;
  &:hover {
    border: 2px solid #fff;
    background: transparent;
    transition: 0.3s ease;
  }
  &.btn--transparent {
    border: 2px solid $basic-color-gray;
    background: transparent;
    transition: 0.3s ease;
    &:hover {
      border: 2px solid transparent;
      background: $basic-color-pink;
      transition: 0.3s ease;
    }
  }
  &--color-word {
    color: $basic-color-pink;
    border: 2px solid $basic-color-pink;
    background: transparent;
    transition: 0.3s ease;
    &:hover {
      color: $basic-color-gray;
      background: $basic-color-pink;
      transition: 0.3s ease;
    }
  }
  &--small {
    padding: 10px;
    &:hover {
      color: $basic-color-pink;
      border: 2px solid $basic-color-pink;
      transition: 0.3s ease;
    }
  }
  &--color-hover:hover {
    color: $basic-color-pink;
    border: 2px solid $basic-color-pink;
    transition: 0.3s ease;
  }
  &.btn--white {
    color: $basic-color-pink;
    border: 2px solid $basic-color-pink;
    background: transparent;
    transition: 0.3s ease;
    &:hover {
      color: #fff;
      background: $basic-color-pink;
      transition: 0.3s ease;
    }
  }
}

.link {
  width: fit-content;
  display: block;
  font-size: 15px;
  line-height: 1;
  color: #253746;
  border-bottom: 1px solid #253746;
  transition: 0.3s ease;
  &:hover {
    color: $basic-color-pink;
    border-bottom: 1px solid transparent;
    transition: 0.3s ease;
  }
  &--white {
    color: $basic-color-gray;
    border-bottom: 1px solid $basic-color-gray;
    transition: 0.3s ease;
    &:hover {
      border-bottom: 1px solid transparent;
      transition: 0.3s ease;
    }
  }
  &.--pink {
    color: $basic-color-pink;
    border-bottom: 1px solid $basic-color-pink;
    transition: 0.3s ease;
    &:hover {
      color: $basic-color-black;
      border-bottom: 1px solid transparent;
      transition: 0.3s ease;
    }
  }
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: #fbfbfb url('//cdnjs.cloudflare.com/ajax/libs/file-uploader/3.7.0/processing.gif') no-repeat center center;
  overflow: visible;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.6s, opacity 0.6s linear;
}

.active {
  visibility: visible !important;
  opacity: 1 !important;
  transition: opacity 0.6s linear !important;
}

.bold {
  font-weight: bold;
}

/* Для Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* Для Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/*------------------------------Кастомный checkbox----------------------- */
.checkbox {
  position: relative;
  box-sizing: border-box;
  width: fit-content;
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  font-size: 15px;
  input[type="checkbox"]:checked,
  input[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
  }

  input[type="checkbox"]:checked + span,
  input[type="checkbox"]:not(:checked) + span {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
  }

  input[type="checkbox"]:checked + span:before,
  input[type="checkbox"]:not(:checked) + span:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    border: 2px solid $basic-color-black;
    background-color: transparent;
  }

  input[type="checkbox"]:checked + span:before,
  input[type="checkbox"]:not(:checked) + span:before {
    border-radius: 2px;
  }

  input[type="checkbox"]:checked + span:after,
  input[type="checkbox"]:not(:checked) + span:after {
    content: "";
    position: absolute;
    transition: all 0.2s ease;
  }

  input[type="checkbox"]:checked + span:after,
  input[type="checkbox"]:not(:checked) + span:after {
    left: 4px;
    top: 4px;
    width: 8px;
    height: 5px;
    border-radius: 1px;
    border-left: 3px solid $basic-color-black;
    border-bottom: 3px solid $basic-color-black;
    transform: rotate(-45deg);
  }

  input[type="checkbox"]:not(:checked) + span:after {
    opacity: 0;
  }

  input[type="checkbox"]:checked + span:after {
    opacity: 1;
  }
}


/*------------------------------Кастомный radiobutton----------------------- */
.radiobutton {
  width: fit-content;
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  font-size: 15px;
  input[type="radio"]:checked,
  input[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
  }

  input[type="radio"]:checked + span,
  input[type="radio"]:not(:checked) + span {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
  }

  input[type="radio"]:checked + span:before,
  input[type="radio"]:not(:checked) + span:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    border: 2px solid $basic-color-black;
    background-color: transparent;
  }

  input[type="radio"]:checked + span:before,
  input[type="radio"]:not(:checked) + span:before {
    border-radius: 100%;
  }

  input[type="radio"]:checked + span:after,
  input[type="radio"]:not(:checked) + span:after {
    content: "";
    position: absolute;
    transition: all 0.2s ease;
  }

  input[type="radio"]:checked + span:after,
  input[type="radio"]:not(:checked) + span:after {
    left: 4px;
    top: 4px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: $basic-color-black;
  }

  input[type="radio"]:not(:checked) + span:after {
    opacity: 0;
  }

  input[type="radio"]:checked + span:after {
    opacity: 1;
  }
}

/*------------------------------прелоадер----------------------- */

/*--------------------------------------------------------------
## Preloader * Прелоадер
---------------------------------------------------------------*/

.spinner {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  box-sizing: border-box;
  font-size: 3em;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 9;
  svg {
    display: block;
    margin: auto;
    shape-rendering: auto;
    background-color: transparent;
  }
}

/*--------------------------------------------------------------
## Breadcrumbs *
--------------------------------------------------------------*/

/*---------------------------------------------------------------
## Forms *
----------------------------------------------------------------*/
